<!--img/card-->
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-4 offset-2">
            <img class="img-fluid" src="https://picsum.photos/seed/image8/600/400">
        </div>
        <div class="col-4 d-flex flex-wrap align-items-center">
            <div class="card bg-transpaent border-0">
                <div class="card-body">
                    <h2 class="card-title">Lean and simple design</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                        leo.</p>
                    <button class="btn btn-primary btn-lg">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</div></div><!--img/card--><div class="container-fluid py-5 bg-body-tertiary">
<div class="row">
    <div class="col-4 offset-2 d-flex flex-wrap align-items-center">
        <div class="card bg-transpaent border-0 bg-body-tertiary">
            <div class="card-body">
                <h2 class="card-title">Lean and simple design</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                    leo.</p>
                <button class="btn btn-primary btn-lg">Learn more</button>
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <img class="img-fluid" src="https://picsum.photos/seed/image10/600/400">
    </div>
</div></div></div><!--img/card--><div class="container-fluid py-5 bg-black"><div class="row">
<div class="col-4 offset-2">
    <img class="img-fluid" src="https://picsum.photos/seed/image240/600/400">
</div>
<div class="col-4 d-flex flex-wrap align-items-center">
    <div class="card bg-transpaent border-0 text-white">
        <div class="card-body bg-black">
            <h2 class="card-title">Lean and simple design</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                leo.</p>
            <button class="btn btn-primary btn-lg ">Learn more</button>
            <button type="button" class="btn btn-outline-light btn-lg">Contact us</button>
        </div>
    </div>
</div></div></div></div><div class="container-fluid py-5"><div class="row"><div class="col-4 offset-2">
<img class="img-fluid" src="https://picsum.photos/seed/image146/600/400"></div><div class="w-50" style="padding-top: 50vh;">
<button class="btn btn-primary btn-lg  my-1">Learn more</button></div></div></div></div></div></div>