<div class="container-fluid py-5 bg-light">
    <div class="row">
        <div class="col-sm-4 offset-sm-2 d-flex flex-wrap align-items-center">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <h1 class="card-title">Style Variations</h1>
                    <p class="card-text fs-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                        leo.
                    </p>
                    <button class="btn btn-primary btn-lg">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-fluid" src="https://picsum.photos/seed/image2/600/400"/>
        </div>
    </div>
</div>