{% set features = [
  {
    title: 'Build your site',
    text: 'The flexibility and creative control to design your pages exactly as you envision them',
    icon: 'bi-battery-charging'
  },
  {
    title: 'Style Variations',
    text: 'Multiple Style Variations to give a completely different look and feel to your site.',
    icon: 'bi-card-image'
  },
  {
    title: 'Pattern-ready',
    text: 'Add patterns quickly and easily create a site that looks amazing and help you make a great first impression',
    icon: 'bi-file-arrow-down'
  }
] %}
<!-- features section -->
<div class="container-fluid px-0 py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for feature in features %}
        <div class="col-sm-4">
          <div class="card bg-transparent border-0 text-center text-lg-start align-items-center align-items-lg-start">
            <h1 class="bg-primary rounded-circle text-center text-white" style="font-size: 5em; width: 100px; height: 100px">
              <i class="bi {{ feature.icon }}"></i>
            </h1>
            <div class="card-body">
              <h5 class="card-title">{{ feature.title }}</h5>
              <p class="card-text">
                {{ feature.text }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>