<section>
    <div class="container-fluid py-5 text-center mx-auto w-25"></div>
    <h2 class="w-25 mx-auto text-white text-center">
        Lets work together on your next project</h2>
    <p class="w-50 mx-auto text-white text-center py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        facilisis eget turpis id convallis. Aliquam elementum varius metus vel placerat. Etiam blandit consectetur urna, quis
        finibus dolor viverra id. Sed ut ultrices nulla.
        rutrum augue.</p>
    <div class="gap-2 d-grid col-2 mx-auto py-5">
        <button class="btn btn-primary" type="button">Button</button>
    </div>
    <ul class="nav ms-auto p-3 fs-6 text-white justify-content-center ">
        <li class="nav-item"></li>
        <a class="nav-link" aria-disabled="true">
            <i class="bi bi-facebook"></i>
        </a>
    </li>
    <li class="nav-item"></li>
    <a class="nav-link" aria-disabled="true">
        <i class="bi bi-instagram"></i>
    </a>
</li>
<li class="nav-item"></li>
<a class="nav-link" aria-disabled="true">
    <i class="bi bi-twitter-x"></i>
</a></li></ul></section>