 {% set hero =[
 {
 title:
 }
 ]%}}
 
 <div class="container-fluid px-0 position-relative d-inline-block h-50 overflow-hidden">
        <img src="https://picsum.photos/id/866/1920/600" class="img-fluid w-100 h-100 position-absolute z-n1" alt="">
        <div class="mx-auto w-50 text-center" style="padding-top: 30vh; padding-bottom: 30vh;">
            <h1>
                Create and grow your<br>
                unique website today
            </h1>
            <h5>
                Build a website for your business or brand, with Neve Fse
            </h5>
            <button type="button" class="btn btn-primary btn-lg">Learn more</button>
            <button type="button" class="btn btn-outline-dark btn-lg">Contact us</button>
        </div>
    </div>

    <!--Hero section-->
    <div class="container-fluid px-0 py-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card bg-transpaent border-0 bg-light">
                        <h1 class="bg-primary rounded-circle text-center text-white"
                            style="font-size: 5em; width: 100px; height: 100px;">
                            <i class="bi bi-battery-charging"></i>
                        </h1>
                        <div class="card-body">
                            <h5 class="card-title">Build your site</h5>
                            <p class="card-text">The flexibility and creative control to design your pages exactly as
                                you
                                envision them</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card bg-transpaent border-0 bg-light">
                        <h1 class="bg-primary rounded-circle text-center text-white"
                            style="font-size: 5em; width: 100px; height: 100px;">
                            <i class="bi bi-card-image"></i>
                        </h1>
                        <div class="card-body">
                            <h5 class="card-title">Style Variations</h5>
                            <p class="card-text">Multiple Style Variations to give a completely different look and feel
                                to
                                your site.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card bg-transpaent border-0 bg-light">
                        <h1 class="bg-primary rounded-circle text-center text-white"
                            style="font-size: 5em; width: 100px; height: 100px;">
                            <i class="bi bi-file-arrow-down"></i>
                        </h1>
                        <div class="card-body">
                            <h5 class="card-title">Pattern-ready</h5>
                            <p class="card-text">Add patterns quickly and easily create a site that looks amazing and
                                help
                                you make a great first impression</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 text-center">
        <h5 class="w-50 mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore.
        </h5>
    </div>