<div class="container-fluid px-0 position-relative d-inline-block overflow-hidden">
    <img
        src="https://picsum.photos/id/177/1920/600?grayscale&blur=5"
        class="img-fluid w-100 h-100 position-absolute z-n1"
        alt="..."/>
    <div class="mx-auto w-50 text-center" style="padding-top: 30vh; padding-bottom: 30vh">
        <h1>
            Create and grow your<br/> unique website today
        </h1>
        <h5>Build a website for your business or brand, with Neve FSE</h5>
        <button class="btn btn-primary btn-lg my-1">Learn More</button>
        <button class="btn btn-outline-dark btn-lg my-1">Contact us</button>
    </div>
</div>