<!doctype html>
<html
    lang="en">
    <!--https://wp-themes.com/neve-fse/#-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap w/ Webpack</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        {% extends 'src/partials/layout.njk' %}
        {% block content %}
        {% include 'src/partials/hero.njk' %}
        {% include 'src/partials/features.njk' %}
        {% include 'src/partials/text.njk' %}
        {% include 'src/partials/img-card.njk' %}
        {% include 'src/partials/card-img.njk' %}
        {% include 'src/partials/img-card2.njk' %}
        {% include 'src/partials/testimonials.njk' %}
        {% endblock %}
    </body>
</html>