<!DOCTYPE html>
<html lang="en">
  <!-- https://wp-themes.com/neve-fse/# -->
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
  </head>
  <body>
    {% include 'src/partials/nav.njk' %}
    
    {% block content %}{% endblock %}

    {% include 'src/partials/footer.njk' %}
  </body>
</html>