{% extends 'src/partials/layout.njk' %}
{% block content %}
  <div class="container">
    <h1>Patterns</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, incidunt! Harum quae molestiae corporis,
      corrupti quo pariatur aliquid animi autem? Libero voluptatem at quibusdam iure? Quam, aspernatur. Eligendi, cumque quis?
      Quo corrupti corporis officia! Voluptates consequatur fugiat nam in facere? Nobis alias ex veniam eos, cumque vitae.
      Atque, corporis aut. Porro, quaerat! Laborum sit vitae recusandae ipsam cupiditate dolorum cum! Officia libero id quis
      eveniet ipsam quisquam nulla inventore veritatis! Nostrum magni, libero odio qui natus sed ducimus debitis sequi.
      Similique earum placeat harum, id quo perferendis minima tempora assumenda. Vitae, maiores. Dignissimos quo excepturi
      sed, officiis temporibus dicta odit.</p>
  </div>
{% endblock %}