<div class="container-fluid px-0 py-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-transparent border-0 text-center text-lg-start align-items-center align-items-lg-start">
                    <img class="img-fluid rounded-circle" style="width: 100px; height: 100px" src="https://picsum.photos/id/64/100/100">
                        <div class="card-body text-white">
                            <p class="card-text">
                                “…Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis…”
                            </p>
                            <h5 class="card-title bold text-uppercase">Maria Doe</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-transparent border-0 text-center text-lg-start align-items-center align-items-lg-start">
                        <img class="img-fluid rounded-circle" style="width: 100px; height: 100px" src="https://picsum.photos/id/582/100/100">
                            <div class="card-body text-white">
                                <p class="card-text">
                                    “…Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis…”
                                </p>
                                <h5 class="card-title bold text-uppercase">John Doe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card bg-transparent border-0 text-center text-lg-start align-items-center align-items-lg-start">
                            <img class="img-fluid rounded-circle" style="width: 100px; height: 100px" src="https://thispersondoesnotexist.com?r=4">
                                <div class="card-body text-white">
                                    <p class="card-text">
                                        “…Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis…”
                                    </p>
                                    <h5 class="card-title bold text-uppercase">Jane Doe</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>