<div class="container-fluid py-5 text-center">
    <h5 class="w-50 mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br/> incididunt ut labore et dolore.
    </h5>
</div>