{% extends 'src/partials/layout.njk' %}
{% block title %}Home{% endblock %}
{% block content %}
  {% include 'src/partials/hero.njk' %}
  {% include 'src/partials/features.njk' %}
  {% include 'src/partials/text.njk' %}
  {% include 'src/partials/img-card.njk' %}
  {% include 'src/partials/card-img.njk' %}
  {% include 'src/partials/img-card2.njk' %}
  {% include 'src/partials/testimonials.njk' %}
{% endblock %}